@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
	box-sizing: none;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

header{
	position: absolute !important;
	display: flex;
	width: 100%;
	top: 0 !important;
	right: 0;

}


.NavegationBar{
	background-color: #111 !important;
}


.navbar-brand{
	font-family: 'Lobster';
	color: #A0A0A0 !important;
}

.navlinks{
	color: #A0A0A0 !important;
	box-shadow: none !important;
	background-color: transparent !important;
	border: none !important;
	margin-left: 15px;
}

.navlinks:hover, .navlinks:focus{
	background-color: #000 !important;
	transition: background-color 200ms ease-in, color 200ms ease-in !important;

}


/*First section*/
.ForBackground{
	background-color: #000;
}

.PrincipalContainer{
	background-color: #000;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../../Robink_FrontEnd/img/background-gray.svg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
	
}

.RobinContainer{
	background-color: #111;
	text-align: center;
	padding: 20px;
	border-style: inset 1px solid #A0A0A0;
}

.toborder{
	border: 1px solid #A0A0A0;
	padding: 20px;
}

.Logo{
	height: 50px;
}

.FPContainer{
	margin-top: 20px !important;
	margin: auto;
}

.firstParagraph{
	font-family: 'Josefin Slab', serif;
	color: #A0A0A0;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 0 !important;
}

.Btns{
	font-family: 'Montserrat';
	background-color: #000;
	border: 1px solid #A0A0A0;
	color: #A0A0A0;
	font-weight: 400;
	outline: none;
	border-radius: none;
}

.Btns:hover, .Btns:focus{
	background-color: #DEFF55;
	color: #000;
	border:1px solid #DEFF55;
}


/*Second section*/

.ServicesIntroduction{
	text-align: center;
}

.ServicesIntroduction p{
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
	font-weight: 600;
}

.ServicesContainer{
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
}

.ServiceContainer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	margin-top: 50px;
}

.ImgContainer{
	padding: 10px;
	justify-content: space-around;
	background-color: #111;
}

.ImgContainer img{
	height: 200px;
}

.ParphContainer{

}

.Titles{
	font-size: 20px;
	font-weight: 700;
	color: #434343;
}

.ParphContainer p{
	font-size: 17px;
}

.WebDes, .WebHost{
	flex-direction: row-reverse;
}

/*Third section*/

.GeneralContainer{
	background-color: #000;
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	text-align: center;
}

.WebContainer{
	margin-top: 70px !important;
	position: relative;

	height: fit-content;
}

.WebContainer img{
	height: inherit;
	display: block;
}

.WorkTitle{
	font-size: 30px;
	font-family: 'Josefin Slab', serif;
	color: #FFF;
}

.WorkParph{
	color: #A0A0A0;
	font-size: 17px;
}

.ContainerhoverWeb{

}

.hoverWeb{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	pointer-events: cursor;
	text-decoration: none;
	opacity: 0;
	transform: translateY(50px);
	transition: transform 0.25s, opacity 0.25s;
}

.hoverWeb:hover{
		opacity: 1;
		transform: translateY(0);
		transition: transform 0.25s, opacity 0.25s;
}

.hoverWeb div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
		border: 1px solid #000000;
}

.WebTitle{
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
	font-weight: 600;
	color: #111111;

}


/*Fourth Section*/
.white{
	background-color: #000;
	height: 100vh;
	display: flex !important;
	justify-content: space-around;
	align-items: center;
}

.ParphContactContainer{
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
}

.TitleContact, .ContactParph{
	color: #FFF;
}

.TitleContact{
	font-family: 'Josefin Slab';
	font-size: 30px;
	font-weight: 600;
}

.ContactParph{
	font-family: 'Montserrat';
	font-size: 17px;
}

.SMContainer{
	display: flex;
}

.FB{
	margin-right: 15px;
	background-image: url('../../Robink_FrontEnd/img/FacebookBW.svg');
	transition: background-image 300ms;
}

.FB:hover{
	background-image: url('../../Robink_FrontEnd/img/Facebook.svg');
	transition: background-image 300ms;
}

.INS{
	margin-right: 15px;
	background-image: url('../../Robink_FrontEnd/img/InstagramBW.svg');
	transition: background-image 300ms;
}

.INS:hover{
	background-image: url('../../Robink_FrontEnd/img/Instagram.svg');
	transition: background-image 300ms;
}

.WA{
	background-image: url('../../Robink_FrontEnd/img/WABW.svg');
	transition: background-image 300ms;
}

.WA:hover{
	background-image: url('../../Robink_FrontEnd/img/WA.svg');
	transition: background-image 300ms;
}

.SocialMedia{
	height: 40px;
	width: 40px;	
	background-size: 100%;
	background-repeat: none;
	cursor: pointer;
	display: flex;
}



.form{
	background-color: #000;
	display: flex;

}

.GeneralInputContainer{

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.InputContainer label{
	color: #A0A0A0;
	margin-top: 10px;
}

.InputContainer{
	display: flex;
	flex-direction: column;
	text-align: left;
}

.InputContainer input{
	height: 40px;
	padding: 3px 5px;
	margin-top: 5px;
	box-shadow: none !important;
	border: 1px solid #A0A0A0;
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	color: #A0A0A0;
	outline: none;
}

textarea{
	height: 100px;
	resize: none;
	margin-top: 5px;
	padding: 3px 5px;
	border: 1px solid #A0A0A0;
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	color: #A0A0A0;
	transition: background-color 300ms !important;
	outline: none;
	pointer-events: cursor;
}



.InputContainer input::placeholder, textarea::placeholder{
	color: #FFF;
	font-weight: 200;
	opacity: 0.2;
}

.InputContainer input:focus::-webkit-input-placeholder, .InputContainer textarea:focus::-webkit-input-placeholder{
    color: #111;
    opacity: 1;
}

.InputContainer input:focus, textarea:focus{
	background-color: #A0A0A0;
	transition: background-color 300ms !important;
	color: #111;
}

.SubmitButtonContainer{
	margin-top: 30px;
	display: flex;
	justify-content: left;
}


